
<h2>Login Form</h2>

<form method="post" action="/auth/login">
  <div class="imgcontainer">
    <img src="/assets/img_avatar.png" alt="Avatar" class="avatar">
  </div>

  <div class="container">
    <label for="username"><b>Username</b></label>
    <input type="text" placeholder="Enter Username" name="username" required>

    <label for="password"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="password" required>

    <button type="submit" id="login-btn">Login</button>
  </div>

  <div class="container" style="background-color:#f1f1f1">

    <span class="psw"> <a href="/auth/new-account">Create a Account</a></span>
  </div>
</form>
